#clean > div > div > .nav-pills > li > a:hover {
    background-color: #7a7a7a;
    color: #FFFFFF;
}

#clean > div > div > .nav-pills > li.active > a{
    background-color: #333333;
    color: #FFFFFF;
}

#clean > div > div > .nav-pills > li > a {
    background-color: #eeeeee;
}

.listblock {
    max-height: 450px;
    overflow-y: auto;
}