.clean {
    margin-left: 15%;
    margin-right: 30%;
}

.meanulist {
    display: inline-block;
    vertical-align: top;
}

.checklist {
    display: inline-block;
}

#clean > div > div > .nav-pills > li > a:hover {
    background-color: #7a7a7a;
    color: #FFFFFF;
}

#clean > div > div > .nav-pills > li.active > a{
    background-color: #333333;
    color: #FFFFFF;
}

#clean > div > div > .nav-pills > li > a {
    background-color: #eeeeee;
}