@charset "utf-8";
$contentMarginTop: 52px;
@mixin cusTransition($prop, $dur, $timing) {
    -webkit-transition-property: $prop;
    -moz-transition-property: $prop;
    -ms-transition-property: $prop;
    -o-transition-property: $prop;
    transition-property: $prop;

    -webkit-transition-duration: $dur;
    -moz-transition-duration: $dur;
    -ms-transition-duration: $dur;
    -o-transition-duration: $dur;
    transition-duration: $dur;

    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -ms-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
};
@mixin cusTransformX($range){
    -webkit-transform: translateX($range);
    -moz-transform: translateX($range);
    -ms-transform: translateX($range);
    -o-transform: translateX($range);
    transform: translateX($range);
};
@mixin cusTransformY($range){
    -webkit-transform: translateY($range);
    -moz-transform: translateY($range);
    -ms-transform: translateY($range);
    -o-transform: translateY($range);
    transform: translateY($range);
};
@mixin cusTransformDuration($dur){
    -webkit-transition-duration: $dur;
    -moz-transition-duration: $dur;
    -ms-transition-duration: $dur;
    -o-transition-duration: $dur;
    transition-duration: $dur;
};
@mixin cusAnimationPosition(){
    position:absolute;
    top: 20px;
    left:0;
    right:0;
    bottom:0;
}


#main {
	  width: 100%;
	  height: 100%;
}

a:focus{
    outline: 0;
}

.btn:focus {
    outline: none;
}

#content {
    margin-top:$contentMarginTop;
	    .gridStyle {
    	    border: 1px solid rgb(212,212,212);
    	    width: 100%; 
    	    height: 400px;
	    }
}

.slide.ng-enter {
    @include cusTransformX(240px);
    @include cusTransformDuration(300ms);
    @include cusAnimationPosition();
    left:100%;
}

.slide.ng-enter-active {
    @include cusTransformX(0);
    left:0;
}

.slide.ng-leave {
    @include cusTransformX(0);
    @include cusTransformDuration(300ms);
    @include cusAnimationPosition();
    left:0;
}

.slide.ng-leave-active {
    @include cusTransformX(-240px);
    left:-100%;
}


.notify.ng-enter {
    @include cusTransformY(-51px);
    @include cusTransformDuration(370ms);
    opacity: 0;
}

.notify.ng-enter-active {
    @include cusTransformY(0);
    opacity: 1;
}

.notify.ng-leave{
    @include cusTransformY(0);
    @include cusTransformDuration(370ms);
    opacity: 1;
}

.notify.ng-leave-active{
    @include cusTransformY(51px);
    opacity: 0;
}