@charset "utf-8";
$contentMarginTop: 52px;
@mixin setTransformY($range){
    -webkit-transform: translateY($range);
    -moz-transform: translateY($range);
    -ms-transform: translateY($range);
    -o-transform: translateY($range);
    transform: translateY($range);
};
@mixin setTransitionProperty($prop){
    -webkit-transition-property: $prop;
    -moz-transition-property: $prop;
    -ms-transition-property: $prop;
    -o-transition-property: $prop;
    transition-property: $prop;
};
@mixin setTransitionDuration($dur){
    -webkit-transition-duration: $dur;
    -moz-transition-duration: $dur;
    -ms-transition-duration: $dur;
    -o-transition-duration: $dur;
    transition-duration: $dur;
};
@mixin setTransitionTimingFunction($timing){
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -ms-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
};
@mixin setTransitionDelay($de){
  -webkit-transition-delay: $de;
  -moz-transition-delay: $de;
  -ms-transition-delay: $de;
  -o-transition-delay: $de;
  transition-delay: $de;
};


#main {
	  width: 100%;
	  height: 100%;
}

/* Remove outline from hyperlink and button, to make the element looks more native */
a:focus{
    outline: 0;
}
.btn:focus {
    outline: none;
}

#content {
    margin-top:$contentMarginTop;
	    .gridStyle {
    	    border: 1px solid rgb(212,212,212);
    	    width: 100%; 
    	    height: 400px;
	    }
}

.slide.ng-enter {
    @include setTransitionProperty(all);
    @include setTransitionDuration(1.5s);
    @include setTransitionTimingFunction(ease);
    opacity: 0;
}

.slide.ng-enter-active {
    opacity: 1;
}

.slide.ng-leave {
    @include setTransitionProperty(all);
    @include setTransitionDuration(0.2s);
    @include setTransitionTimingFunction(ease);
    opacity: 1;
}

.slide.ng-leave-active {
    opacity: 0;
}

.slide.ng-enter-stagger {
    /* this will have a 500ms delay between each successive leave animation */
    @include setTransitionDelay(0.5s);

    /* in case the stagger doesn't work then these two values
       must be set to 0 to avoid an accidental CSS inheritance */
    @include setTransitionDuration(0s);
}

.notify.ng-enter {
    @include setTransformY(-51px);
    @include setTransitionDuration(370ms);
    opacity: 0;
}

.notify.ng-enter-active {
    @include setTransformY(0);
    opacity: 1;
}

.notify.ng-leave{
    @include setTransformY(0);
    @include setTransitionDuration(370ms);
    opacity: 1;
}

.notify.ng-leave-active{
    @include setTransformY(51px);
    opacity: 0;
}